* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variable declarations */
:root {
  --primaryColor: #101111;
  --backgroundColor: #f5f5f8;
  --primaryTextColor: grey;
  --buttonColor: rgb(179, 153, 6);
  --font-stack-header: "Roboto", helvetica, arial, sans-serif;
  --default-min-height: 85vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-align: center;
  font-size: 16px;
  background-color: var(--backgroundColor);
  color: var(--primaryTextColor);
}

/* a {
  color: var(--primaryTextColor);
  text-decoration: none;
}
a:hover {
  color: var(--buttonColor);
  transform: scale(1.1);
} */

/* .app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.App {
  max-width: 100vw;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
                  # NAVBAR
--------------------------------------------------------------*/
.navbar {
  width: 100vw;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 700;
  background-color: var(--primaryColor);
}
.active {
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--buttonColor), 0 2px 2px var(--buttonColor);
}
.navbar a:hover {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
                  # FOOTER
--------------------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 0.9rem;
  text-shadow: 0px 0px 0px #000000;
  font-weight: 600;
  color: var(--primaryTextColor);
  background-color: var(--primaryColor);
}
.footer a {
  color: rgb(50, 50, 50);
  text-decoration: none;
}
.footer a:hover {
  color: var(--buttonColor);
  text-decoration: none;
  transition: all 0.4s;
}
.footerContent {
  width: 100%;
  margin-bottom: 2rem;
}
.footerContent > p {
  margin-bottom: 0;
}
.socials {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials > a {
  padding: 1rem;
  list-style: none;
  color: rgb(50, 50, 50);
  margin: 0.5rem;
  cursor: pointer;
  position: relative;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 50%;
  background: var(--primaryColor);
  transition: all 0.4s;
}
.socials > a:hover {
  /* color: var(--buttonColor);
  border-color:  var(--buttonColor); */
  transform: scale(1.2);
  color: white;
}
.socials .twitter:hover{
  background: #55ACEE;
  border-color: #55ACEE;
}
.socials .facebook:hover{
  background: #3B5998;
  border-color: #3B5998;
}
.socials .linkedin:hover{
  background: #007bb5;
  border-color: #007bb5;
}
.footer .devlink{
  color: white;
}

/*--------------------------------------------------------------
                  # PRELOADER AND LOADING PAGE
--------------------------------------------------------------*/
#preloader {
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
}

#loadingPage {
  width: 100%;
  height: var(--default-min-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
}

/*--------------------------------------------------------------
                  # ANIMATIONS
--------------------------------------------------------------*/
.fade-out {
  animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}
.fade-in {
  animation: fadeIn ease 0.8s;
}
.bounceIn{
  animation-name: bounceIn;
  animation-duration: .7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}


/*--------------------------------------------------------------
                  # SCROLL TO TOP
--------------------------------------------------------------*/

.scrollTop {
  position: fixed;
  /* width: 100%; */
  width: 16%;
  bottom: 20px;
  align-items: center;
  /* height: 20px; */
  justify-content: left;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.8;
  margin-left: -50px;
  /* left: 50%; */
  left: 92%;
}
.scrollTop:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* tablet+ */
@media screen and (min-width: 768px) {
  .scrollTop{
    width: 9%;
    left: 95%;
  }
  }
  /* laptop+ */
  @media screen and (min-width: 1024px) {
    .scrollTop{
      width: 5%;
      left: 96%;
    }
    }

/*--------------------------------------------------------------
                  # HOME
--------------------------------------------------------------*/
#home {
  min-height: 100vh;
  text-align: center;
  /* animation: expand .8s ease forwards;
  transition: all .8s ease; */
}

/* Header/Logo Title */
.header {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://ik.imagekit.io/afrifa/selim/banner.jpeg?updatedAt=1632520606999") no-repeat center fixed; 
   /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #151515; */
  background-size: cover;
  background-color: #151515;
  color: white;
  font-size: 30px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  text-transform: capitalize;
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  /* text-shadow: 2px 2px 2px grey; */
  margin-bottom: -1rem;
  /* background-image: url("../images/africa.jpeg"); */
  background-image: url("https://ik.imagekit.io/afrifa/selim/tr:w-150/africa.jpeg?updatedAt=1632270431911");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: white;
  background-size: 25%;
  /* background-size: 50%; */
  background-repeat: repeat-x;
  background-position: center bottom;
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;
}
.header h2 {
  font-size: 1.2rem;
  opacity: 0.9;
  letter-spacing: 2px;
  transition: ease 0.8s;
  animation: slideUp .6s ease-in;
}

/* tablets and above */
@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 10rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
}

#categories{
  transition: ease 0.8s;
  animation: slideUp .8s ease-in;
}
#categories > p,
.content > p {
  margin-top: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  display: inline-block;
  color: var(--primaryTextColor);
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
.content p {
  margin-top: 0;
}
.content{
  transition: ease 0.8s;
  animation: slideUp 1s ease-in;
}
.line {
  width: 40px;
  height: 0;
  border: 1px solid #c4c4c4;
  margin: 3px;
  display: inline-block;
}
/* Categories List */
#categorylist span {
  margin-left: 0.5rem;
  animation: fadeIn 0.3s;
  text-transform: capitalize;
  margin-bottom: 0;
}
#categorylist span:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.3s;
  color: var(--buttonColor);
}
#categorylist .badge {
  transition: 0.5s;
  border: none;
  outline: 0;
  display: inline-block;
  /* padding: 8px 23px; */
  padding: 8px 10px;
  font-size: 0.9rem;
  background-color: var(--primaryColor);
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--buttonColor), 0 2px 2px var(--buttonColor);
}

/* Any screen that is tablet and above*/
@media screen and (min-width: 768px) {
  #categorylist .badge {
    font-size: 1rem;
  }
}

/* Page Content */
.content {
  padding: 1rem;
  margin-top: 2rem;
}

#notifyToast {
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--buttonColor);
  background-color: var(--primaryColor);
}

/*--------------------------------------------------------------
                  #     SUBSCRIPTION FORM
--------------------------------------------------------------*/

.fcf-body {
  margin: 0;
  font-size: 1rem;
  color: var(--primaryTextColor);
  padding: 0 10px;
  max-width: 100%;
}
.fcf-form-group {
  margin-bottom: 1rem;
}
.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: center;
  width: 100%;
}
.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid var(--primaryColor);
}
textarea.fcf-form-control {
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
#fcf-button {
  transition: 0.5s;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  font-size: 1rem;
  background-color: var(--primaryColor);
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--buttonColor), 0 2px 2px var(--buttonColor);
}
#fcf-button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  color: var(--buttonColor);
}
.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.formError {
  color: palevioletred;
  margin-top: 0.5rem;
}


/*--------------------------------------------------------------
                  # ALL POSTS SECTION
--------------------------------------------------------------*/
/* Mobile First */
.allPostsRow {
  width: 100%;
}
.postCardColumn {
  width: 100%;
}

/* Any screen that is tablet and above*/
@media screen and (min-width: 768px) {
  .allPostsRow {
    content: "";
    display: table;
    clear: both;
  }
  .postCardColumn {
    width: 50%;
    float: left;
    padding: 1rem;
  }
}

/* Any screen that is laptop and above*/
@media screen and (min-width: 1024px) {
  .allPostsRow {
    content: "";
    display: table;
    clear: both;
  }
  .postCardColumn {
    width: 33.33%;
    float: left;
    padding: 1rem;
  }
}

/*--------------------------------------------------------------
                  #     ARTICLE CARDS
--------------------------------------------------------------*/

.postCard {
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 800px;
  /* max-width: 1000px; */
  height: 100%;
  /* min-height: 300px; */
  min-height: 300px;
  display: block;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  /* background-image: url(https://ik.imagekit.io/afrifa/selim/banner.jpeg?updatedAt=1632520606999); */
  background-color: #050505;
  color: #fff;
  line-height: 1.4;
  overflow: hidden;
  /* animation: fadeIn 0.3s; */
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;

}
.overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    rgba(42, 159, 255, 0.2) 0%,
    rgba(33, 33, 32, 1) 60%,
    rgba(33, 33, 32, 1) 100%
  );
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.cardContent {
  height: 100%;
  width: 100%;
  /* max-width:370px; */
  /* max-width: 100%; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  overflow: hidden;
}
#cardTitle {
  margin: 0.2em;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.4rem;
}
.cardContent h2{
  font-size: 1.4rem;
}
#articleCardTag {
  margin: 5px;
  text-transform: capitalize;
}
.articleDate {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
}
#articleDesc {
  margin-top: 0.5rem;
  font-weight: 300;
}

#btn {
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

/* Tablets and above*/
@media screen and (min-width: 768px) {
  .cardContent {
    padding: 1rem 0.5rem;
  }

  #articleDesc {
    font-weight: 300;
    margin: 1rem;
    overflow: hidden;
    font-size: 1rem;
  }
}

/* Laptop and above*/
@media screen and (min-width: 1024px) {
  .overlay {
    background: linear-gradient(
      to right,
      rgba(42, 159, 255, 0.2) 0%,
      rgba(33, 33, 32, 1) 60%,
      rgba(33, 33, 32, 1) 100%
    );
  }
  .cardContent {
    float: right;
    max-width: 80%;
    font-size: 0.8rem;
  }
  #cardTitle {
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.3em;
  }
  #articleDesc {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

/* Larger screens ie. large laptops, desktops etc. */
@media screen and (min-width: 1280px) {
  .cardContent {
    /* background-color: maroon; */
    width: 100%;
    overflow: hidden;
    font-weight: 300;
    font-size: 1rem;
  }
  #cardTitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0.3em;
  }
  #articleDesc {
    font-size: 1.1rem;
    margin-top: 0.8rem;
  }
}

.postCard:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition: 0.6s;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.6);
  /* color: var(--buttonColor); */
}

/*--------------------------------------------------------------
                  # ABOUT PAGE
--------------------------------------------------------------*/
#about {
  min-height: 85vh;
  text-align: center;
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.aboutCard {
  width: 95%;
  margin: 2rem;
  /* border-radius: 8px; */
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  /* background-color: var(--backgroundColor); */
  border-radius: 0 2rem;
  border: 1px solid grey;
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;
}
.aboutCard:hover{
  transform: scale(1.05);
}
.aboutDetailsBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutDetails h1 {
  font-size: 1.6rem;
  text-align: center;
}
.avatarBlock {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutCard .img-container{
  max-width: 100%;
  height: auto;
}
.avatar {
  border-radius: 0.7rem;
  /* width: 100%;
  height: auto; */
  transition: ease 0.8s;
  animation: fadeIn .8s ease-in;
  padding: 5px;
}
.aboutDetails {
  padding: 2rem;
  font-size: 0.9rem;
}

/* tablet and above */
@media screen and (min-width: 768px) {
  .aboutCard {
    width: 70%;
  }
  .avatarBlock {
    padding-top: 0;
  }
  .avatar {
    border-radius: 0.5rem;
  }
  .aboutDetails {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .aboutDetails h1 {
    font-size: 1.2rem;
  }
}

/* laptop and above*/
@media screen and (min-width: 1024px) {
  .aboutCard {
    width: 60%;
  }
  .aboutDetails {
    padding: 0.8rem;
    font-size: 0.9rem;
  }
  .aboutDetails h1 {
    font-size: 1.3rem;
  }
}

/* Larger screens ie. large laptops, desktops etc. */
@media screen and (min-width: 1280px) {
  .aboutCard {
    width: 50%;
  }
  .aboutDetails {
    font-size: 1.2rem;
  }
  .aboutDetails h1 {
    font-size: 1.5rem;
  }
}

/*--------------------------------------------------------------
                  # 404 PAGE
--------------------------------------------------------------*/
#page404 {
  min-height: 85vh;
  text-align: center;
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* animation: fadeIn 1s; */
  transition: ease 0.8s;
  animation: bounceIn .8s ease-in;
}
#page404 .img-container{
  max-width: 100%;
  height: 800;
}
#page404 p {
  padding: 1rem;
}
#page404 a:hover {
  text-decoration: none;
}


/* Tablet and above*/
@media screen and (min-width: 768px) {
  #page404 a {
    margin-bottom: 1rem;
  }
}

/*--------------------------------------------------------------
                  # BLOG DETAILS PAGE
--------------------------------------------------------------*/
/* Header */
.detailsHeader {
  padding: 60px;
  /* text-align: center; */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  #151515 no-repeat center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50vh;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  /* transition: ease-in-out 5s;
  animation: fadeIn .5s; */
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;
}
.detailsHeader h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
}
.detailsHeader p {
  margin-top: 1rem;
  font-size: 1rem;
}
.detailsContent .categoryTag{
  font-size: 1.2rem;
}

/* Animation for blog details page */
.detailsHeader h1,.detailsHeader p,.detailsContent, .relatedPosts {
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;
}

/* Page Content */
.detailsContent {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.95rem;
}
.detailsContent span {
  margin: 5px;
  margin-top: 1.5rem;
  text-transform: capitalize;
  color: var(--primaryTextColor);
  background-color: #f1f1f1;
}

/* Author section */
.chip {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  font-size: 0.95rem;
  font-weight: 800;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 10px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* ----- Related Posts Section ----- */
.relatedPosts {
  min-height: 30vh;
  margin: 2rem 0.5rem;
}

.flex-container {
  padding: 0;
  margin: 0;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  /* center and flex wrap in row direction */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.relatedPosts .card {
  width: 100%;
  /* height: 100px; */
  margin: 10px;
}
.relatedPosts button:hover {
  transform: scale(1.1);
  color: var(--buttonColor);
}
.relatedPosts h1{
  font-size: 1.2rem;
}


/* Tablets and above */
@media screen and (min-width: 768px) {
  .detailsHeader {
    height: 40vh;
  }
  .detailsHeader h1 {
    font-size: 2rem;
  }
  .detailsHeader p {
    margin-top: 0.8rem;
  }
  .detailsContent {
    /* padding: 0; */
    margin-top: 2rem;
    font-size: 1rem;
  }
  .relatedPosts .card {
    width: 30%;
  }
}

/* Any screen that is laptop and above*/
@media screen and (min-width: 1024px) {
  .detailsHeader h1 {
    font-size: 2.3rem;
  }
  .detailsHeader p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  .detailsContent {
    margin-top: 2.5rem;
  }
}

/* Larger screens ie. large laptops, desktops etc. */
@media screen and (min-width: 1280px) {
  .detailsHeader h1 {
    font-size: 2.5rem;
  }
  .detailsContent {
    padding: 1rem;
    margin-top: 2.5rem;
  }
}

/*--------------------------------------------------------------
                  # CATEGORY PAGE
--------------------------------------------------------------*/
.templateHeader {
  margin: 1rem;
}
.templateHeader h1 {
  font-weight: 300;
  font-size: large;
}
.templateHeader .title {
  font-weight: 800;
  font-size: xx-large;
  text-transform: capitalize;
}
.templateHeader p {
  font-weight: 500;
  font-size: 0.9rem;
}
/* Animation block */
/* delaying each section of the page by 0.2s */
.templateHeader h1, .templateHeader .line{
  transition: ease 0.8s;
  animation: slideUp .5s ease-in;
}
.categoryBlock{
  transition: ease 0.8s;
  animation: slideUp .7s ease-in;
}
.blogPostsBlock{
  transition: ease 0.8s;
  animation: slideUp .9s ease-in;
}

/*--------------------------------------------------------------
                  # BLOGS PAGE
--------------------------------------------------------------*/
.templateBody {
  min-height: 85vh;
  text-align: center;
  color: var(--primaryTextColor);
}

.loadingEndMsg{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


/*--------------------------------------------------------------
                  # ERROR BOUNDARY
--------------------------------------------------------------*/
.errorBoundary {
  padding-top: 100px;
  font-size: larger;
}